* {
    font-family: helvetica;
    background-color: black;
    color: seashell;
    text-align: center;

}

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    display: flex;
    align-items: center;
    flex-basis: auto;
    justify-content: space-between;
    padding: 0 10px;
    opacity: 0.9;
}

h1 {
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
}

a {
    padding: 0 10px;
    font-size: 22px;
}

#mission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("/resources/pictures/img-mission-background.webp");
    width: 1200px;
    height: 700px;
    margin: auto;
}

.tea {
    padding-bottom: 10px;
}

h2 {
    font-size: 32px;
    margin: 10px;
    opacity: 0.9;
}

h3 {
    font-size: 28px;
    opacity: 0.9;
}

h4 {
    font-size: 22px;
    margin: 10px;
}

h5 {
    font-size: 16px;
}

p {
    float: left;
    padding-left: 20px;
}

#feat h4 {
    font-size: 22px;
    padding-bottom: 10px;
    margin: 10px;
    opacity: 0.9;
}

#feat {
    width: 1000px;
    margin: 100px auto;
}

img {
    height: 200px;
    width: 300px;
    padding: 0 10px;
}

.pic {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#location {
    background-image: url("/resources/pictures/img-locations-background.webp");
    background-size: 1200px 500px;
    height: 500px;
    width: 1200px;
    margin: auto;
    display: flex;
}

.one {
    background-color: transparent;
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local {
    background-color: transparent;
    padding-bottom: 5px;
    align-self: center;
    
}

.two {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: transparent; 
    height: 500px;
}

.place {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 300px;
    height: 300px;
}

footer {
    height: 200px;
    display: flex;
    flex-direction: column;
}